@charset "UTF-8";
body{
 background-image: url(DSC01833.JPG);
 background-size:cover; 
 background-repeat: no-repeat
 
 margin-left: 15%;
 margin-top: 17.5%;
 font-size: 25.5px;
 line-height: 2.25;
 
 display: flex;

}
